body{
    height:100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: 80px;
    background-image: url(images/leaves.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
}

.sidebar{
    height: 100%;
    width:7%;
    top:0;
    left:0;
    display: flex;
    position: fixed;
    background-color: aqua;
    font-size: 55px;
    padding:60px;
    text-align: center;
}

span{
    display: none;
    padding-top:80px;
}

.sidebar:hover{
    width: 20%;
    padding-left:100px;
    display: block;
}

.sidebar:hover span{
    display: block;
}
