body{
    height:100%;
    width: 100%;
    background-position: center;
    margin-left: 50%;
    background-size: cover;
}

.sidebar{
    height: 100%;
    width:7%;
    top:0;
    left:0;
    display: flex;
    position: fixed;
    background-color: aqua;
    font-size: 55px;
    padding:60px;
}

span{
    display: none;
}

.sidebar:hover{
    width: 20%;
    padding-left:100px;
    display: block;
}

.sidebar:hover span{
    display: block;
}
