body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    background-color: #2d2d30;
    color: #ffffff; 
    font-size: 80px;
}



h1{
    font-size: 120px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 200px;
    color: goldenrod;
}

h2{
 
 margin-bottom: 100px;
 color: goldenrod;
}

.ingredients {
          
   

}

input[type="checkbox"]{
  width: 40px;
  height: 40px;
}

.ingredients>div{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap:nowrap;
  justify-content: space-around;

  margin-bottom: 50px;
}

.ingredients>div>div{
  width: 40%;
 
}

.proteins{
  flex-wrap:wrap;
}

.ingredients .vegetables {
  
  display: flex;
  flex-direction: row;

}

.ingredients .spices {
  
  display: flex;
  flex-direction: row;

}

.ingredients .sauces {
  
  display: flex;
  flex-direction: row;

}

.vegetables .div1{
  width: 50%;
  height:100%;       
 }

.vegetables .div2{
  width: 50%;
  height: 100%;
}
