body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    background-color: #2d2d30;
    color: #ffffff; 
    font-size: 50px;
}

#title{
    text-align: center;
    color: goldenrod;
}

#container{
    display: grid;
    grid-template-columns: 31% 38% 31%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#prep{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Time{
    text-shadow:1px 1px 10px goldenrod;
}

#image>img{
  border-radius: 50px;
  border: 1px solid goldenrod;
  box-shadow: -5px 5px 20px 3px goldenrod, 5px 5px 20px 3px goldenrod;  
}

#servings{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:1px 1px 10px goldenrod;

}

#prep>div{
    margin-top: 35px;
}

#servings>div{
    margin-top: 35px;
}

#icon{
    width: 90px;
    height: 90px;
}

#summary{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom:40px ;
    width: 20%;
    width: 65%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#summary>a{
    color: #ffffff;
}

#description{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    border-right: 2px solid goldenrod;
    padding-right: 45px;
}
#steps{
    width: 55%;
}


