<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="css/recipe-list.css">
</head>
<body>
    <h1 id="heading">Recipes</h1>
    <% for(let i=0; i<responses.length; i++){ %>
        <div id="div" onclick="take('<%= responses[i].id %>')" >

        <h1><%= responses[i].title %></h1>
        <% console.log("recipes:" + responses[i].title) %>
        <img src="<%= responses[i].image %>">
        </div>
        <% } %>
    
    
</body>
<script>
function take(recipeId){
            // Set the window location to form3.html with the recipe title as a query parameter
            window.location.href = `http://localhost:5000/recipe.html?recipeID=${encodeURIComponent(recipeId)}`;
        }
</script>

</html>
