<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="css/recipe.css">
</head>
<body>
    <h1 id="heading">Recipes</h1>
    <% for(let i=0; i<responses.length; i++){ %>
        <div id="div">

        <h1><%= responses[i].title %></h1>
        <% console.log("recipes:" + recipes[i]) %>
        <img src="<%= responses[i].image %>">
        </div>
        <% } %>
    
    
</body>
<script type="text/javascript" src="form2.mjs"></script>

</html>
