#div{
   width: 30%;
   margin: 1.55%;
   height: 450px;
   background-color: pink;
   display: inline-flex;
   flex-wrap:wrap;
   justify-content: center;
   border-radius: 10px;
   padding-bottom: 10px;
}

body{
   background-color: aliceblue;
   text-align: center;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight:normal;
   background-color: #2d2d30;
   color: #ffffff; 
   font-size: 13px;
}


#div img{
   height: 300px;
   width: 300px;
   border-radius: 13px;
}